.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.ingredientsLists {
  max-height: calc(100vh - 280px);
  overflow-y: auto;
}

.ingredientsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
